@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.border-styles {
  border: 1px solid theme("colors.gray.400");
  border-radius: 9999px;
}

.button-styles {
  @apply bg-violet-900 text-white;
}
